html {
    font-family: 'Caveat', cursive;
    background-color: #e6f9c3;
}
.left-bird {
    position: absolute;
    left: 30%;
    top: 200px;
    transform: rotateY(180deg);
}
.right-bird {
    position: absolute;
    right: 30%;
    top: 50px;
}
h1 {
    text-align: center;
    margin-top: 150px;
    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
}
.koks {
    width: 500px;
    display: block;
    margin: 150px auto 50px;
    mix-blend-mode: multiply;
}
.teksts-attels {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-size: 2rem;
}
.bird {
    float: left;
}